{erl_opts, [
    debug_info,
    nowarn_export_all,
    nowarn_unused_vars,
    nowarn_unused_function
    ]}.

{deps, []}.



{shell, [
  % {config, "config/sys.config"},
    {apps, [toast]}
]}.

{erl_opts, [{i, "include"}]}.

{relx,
 [{release, {toast_app, "0.0.1"}, [toast_app]},
  {mode, prod},
  {dev_mode, true},
  {include_erts, true}]}.


%% directory for artifacts produced by Rebar3
{base_dir, "_build"}.
%% directory in '<base_dir>/<profile>/' where deps go
{deps_dir, "lib"}.
%% where Rebar3 operates from; defaults to the current working directory
{root_dir, "."}.
%% where checkout dependencies are to be located
{checkouts_dir, "_checkouts"}.
%% directory in '<base_dir>/<profile>/' where plugins go
{plugins_dir, "plugins"}.
%% directories where OTP applications for the project can be located
{project_app_dirs, ["apps/*", "lib/*", "."]}.
%% Directories where source files for an OTP application can be found
{src_dirs, ["src"]}.
%% Paths to miscellaneous Erlang files to compile for an app
%% without including them in its modules list
{extra_src_dirs, []}.
%% Paths the compiler outputs when reporting warnings or errors
%% relative (default), build (all paths are in _build, default prior
%% to 3.2.0, and absolute are valid options
{compiler_source_format, relative}.


